<!-- list -->
<ul class="nav">
    <li ng-class="getIsActiveMenuItem('app.users')">
        <a ui-sref="app.users" class="auto">
            <i class="icon-users icon text-primary-dker"></i>
            <span class="font-bold" translate>VIEW_MENU_MAIN_USERS_LIST</span>
        </a>
    </li>

    <li ng-class="getIsActiveMenuItem('app.adminSettings')">
        <a ui-sref="app.adminSettings" class="auto">
            <i class="icon-wrench icon text-primary-dker"></i>
            <span class="font-bold" translate>VIEW_MENU_MAIN_ADMIN_SETTINGS</span>
        </a>
    </li>

</ul>
<!-- / list -->
