<section data-ng-controller="AuthenticationController">
    <a href="/" class="navbar-brand block">Call42</a>

    <div class="container w-xxl w-auto-xs">

        <div class="col-md-12 text-center" translate>VIEW_SIGN_IN_SOCIAL_TITLE</div>
        <div class="col-md-12 text-center social">
            <a href="/auth/facebook" class="undecorated-link">
                <img src="/modules/users/img/buttons/facebook.png">
            </a>
            <a href="/auth/twitter" class="undecorated-link">
                <img src="/modules/users/img/buttons/twitter.png">
            </a>
            <a href="/auth/google" class="undecorated-link">
                <img src="/modules/users/img/buttons/google.png">
            </a>
        </div>
        <div class="col-md-12 text-center" translate>VIEW_SIGN_IN_WITH_ACCOUNT</div>
        <div style="clear: both; padding-top: 20px"></div>
        <div class="m-b-lg">
            <form name="userForm" class="form-validation" data-ng-submit="signin()">
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input type="text"
                               placeholder="{{'VIEW_USERNAME_PLACEHOLDER'|translate}}"
                               class="form-control no-border"
                               data-ng-model="credentials.username"
                               required>
                    </div>
                    <div class="list-group-item">
                        <input type="password"
                               placeholder="{{'VIEW_PASSWORD_PLACEHOLDER'|translate}}"
                               class="form-control no-border"
                               data-ng-model="credentials.password"
                               required>
                    </div>
                </div>

                <div class="m-b-md" ng-show="error">
                    <alert type="danger" close="closeAlert()">{{error}}</alert>
                </div>

                <button id='signin' type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled='form.$invalid' translate>VIEW_SIGN_IN</button>
                <div class="text-center m-t m-b">
                    <a ui-sref="forgot" translate>VIEW_SIGN_IN_FORGOT</a>
                </div>
                <div class="line line-dashed"></div>
                <p class="text-center">
                    <small translate>VIEW_SIGN_IN_DO_NOT_HAVE_ACCOUNT</small>
                </p>
                <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block" translate>VIEW_SIGN_IN_CREATE_ACCOUNT</a>
            </form>
        </div>
    </div>


</section>