<section class="row" data-ng-controller="PasswordController">
  <h3 class="col-md-12 text-center" translate>VIEW_FORGOT_PASSWORD_TITLE</h3>
  <p class="small text-center" translate>VIEW_FORGOT_PASSWORD_USERNAME</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <input type="text"
                 id="username"
                 name="username"
                 class="form-control"
                 data-ng-model="credentials.username"
                 placeholder="{{'VIEW_USERNAME'|translate}}">
        </div>
        <div class="text-center form-group" style="float: left">
          <button ng-disabled="inProgress" style="margin-left: 80px;" type="submit" class="btn btn-primary" translate>VIEW_FORGOT_PASSWORD_SUBMIT</button>
        </div>
          <div style="float: left" ng-show="inProgress">
              <img style="height: 50px;" src="/modules/core/img/loaders/wait.gif">
          </div>
          <div style="clear: both"></div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong translate>{{ error | translate:translationData }}</strong>
        </div>
        <div data-ng-show="success" class="text-center text-success">
          <strong translate>{{ success | translate:translationData }}</strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>